<footer class="site-contentinfo slds-grid slds-wrap site-text-longform slds-text-body--small" role="contentinfo">
  <p class="slds-p-horizontal--x-large slds-size--1-of-1 slds-shrink-none slds-large-size--2-of-3">Copyright © 2015-2016 <span class="site-name">Sales<i>f</i>orce. </span><a href="http://salesforce.com/company/legal/intellectual.jsp"
      data-slds-cta-event="true" data-slds-cta-event-name="CTA" data-slds-cta-event-type="copyright">All rights reserved</a>.
    Version 2.0.2. Last Updated on June 17th 2016, 5:19 pm.</p>
  <p class="slds-p-horizontal--x-large slds-text-align--right slds-size--1-of-1 slds-shrink-none slds-large-size--1-of-3"><a class="site-social-twitter" href="http://twitter.com/salesforceux" title="Follow @salesforceux on Twitter">Twitter</a>
    <a class="site-social-dribbble" href="http://dribbble.com/salesforce" title="Find us on Dribbble">Dribbble</a><a class="site-social-github"
      href="https://github.com/salesforce-ux/design-system" title="Get the code on GitHub">GitHub Repository</a></p>
</footer>